apiVersion: v1
kind: Namespace
metadata:
  name: backend

---
apiVersion: v1
kind: Namespace
metadata:
  name: data

---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring

---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress
